.tour__img img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card {
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.tour__img {
    position: relative;
}

.tour__img span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: max-content;
    height: max-content;
    z-index: 10;
    background: #ff7e01;
    color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 3px 0 0 0;
}

.card__top span i {
    color: #faa935;
}

.tour__rating {
    font-size: .9rem;
    color: #6e7074;
}

.tour__location {
    color: #faa935;
    font-weight: 500;
}

.tour__rating i,
.tour__location i {
    font-size: 1rem;
}

.tour__title {
    margin-top: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.tour__title a {
    text-decoration: none;
    color: #0b2727;
    transition: 0.3s;
}

.tour__title a:hover {
    color: #faa935;
}

.card__bottom h5 {
    color: #faa935;
    font-size: 1.1rem;
    font-weight: 700;
}

.card__bottom h5 span {
    font-weight: 500;
    color: #6e7074;
    font-size: 0.8rem;
}

.booking__btn {
    background: #faa935 !important;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
}

.booking__btn a {
    text-decoration: none;
    font-size: .9rem;
    color: #fff;
}

.booking__btn a:hover {
    color: #fff;
}